<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <h1>put nav and things here</h1>
  <div class="text-center fs-1">Profile editor</div>
  <div class="container-fluid">

    <div class="row mx-auto">
      <div class="col-lg-2 d-lg-block d-none">
        <div class="border border-black">left</div>
      </div>

      <div class="col-lg-8 col-12 d-lg-flex flex-column border border-black p-0 mx-auto">
        <!-- img-username-mini desc container -->
        <div class="container-fluid d-lg-flex d-sm-block flex-lg-row ">
          <!-- flex container for centering profile pic in sm and below-->
          <div class="d-flex"> 
            <img src="neco-arc.png" id="profilPic" alt="nya!"
              class="img-thumbnail rounded float-start m-2 mx-auto custom-max-width-height ">
          </div>
          <!-- user name and mini desc container -->
          <div class="container-fluid d-flex flex-column w-50 w-100">
            <div class="m-2 fs-1 d-flex j">User name
              <span class="ms-lg-auto ms-3"><a href="edit-profile.html" class="text-decoration-none">...</a></span>
            </div>
            <div class="text-wrap mx-2">Mini desc
              A dynamic online profile showcasing a passionate creative professional with expertise in graphic design,
              web development, and content creation.</div>
          </div>
        </div>
        <!-- "about" and main desc container -->
        <div class="container-fluid">
        <h1 class="m-3">About</h1>
        <div class="mx-3">Main desc
          I like to creep around my home and act like a goblin

          I don’t know why but I just enjoy doing this. Maybe it’s my way of dealing with stress or something but I just
          do it about once every week. Generally I’ll carry around a sack and creep around in a sort of crouch-walking
          position making goblin noises, then I’ll walk around my house and pick up various different “trinkets” and put
          them in my bag while saying stuff like “I’ll be having that” and laughing maniacally in my goblin voice
          (“trinkets” can include anything from shit I find on the ground to cutlery or other utensils). The other day I
          was talking with my neighbours and they mentioned hearing weird noises like what I wrote about and I was just
          internally screaming the entire conversation. I’m 99% sure they don’t know it’s me but god that 1% chance is
          seriously weighing on my mind.
        </div>
      </div>
    </div>

      <div class="col-lg-2 d-lg-block d-none">
        <div class="border border-black">right</div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>

</html>