<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>HOMEPAGE</h1>
    <a href="/thread/new"><h3>Create thread</h3></a>
    <a href="/latest"><h3>Latest threads</h3></a>
    <a href="/login"><h3>Login</h3></a>
</body>
</html>