<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User view</title>
</head>
<body>
    <%- include('partials/header.ejs')%>
    Hii
    <form action="/search" method="get">
        <label for="name">Find</label>
        <input type="text" name="query" id="query">
        <button type="submit">Submit</button>
    </form>
    <br>
    Login
    <form action="/login" method="post">
        <label for="name">Username</label><br>
        <input type="text" name="name" id="name"><br>
        <label for="password">Password</label><br>
        <input type="password" name="password" id="password"><br>
        <label for="remember">Remember me</label>
        <input type="checkbox" name="remember" id="remember"><br>
        <button type="submit">Submit</button>
    </form>
<br>

    Create user
    <form action="/create/user" method="post">
        <label for="name">Username</label><br>
        <input type="text" name="name" id="name"><br>
        <label for="password">Password</label><br>
        <input type="password" name="password" id="password"><br>
        <button type="submit">Submit</button>
    </form>
    
</body> 
</html>